/* styles.css */

div {
  margin: 8px;
}

button {
  width: 270px;
  min-width: 270px;
  height:  25px;
  min-height:  25px;
  cursor: pointer;
  margin-right: 15px;
  border:  1px solid darkgray;
  border-radius: 5px;
  margin-top: 10px;
}

.sectionHeader {
  margin-top:  10px;
  font-weight: bold;
}

.buttonInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apiText {
  margin-top: 5px;
  margin-bottom: 20px;
}

hr {
  margin-top: 20px;
}

.d3Container {
  /* border: 1px solid lightgray; */
}

svg {
  border: 1px solid lightgray;
}

g > text {
  font-size: 10px;
}

g > rect {
  fill: lightsalmon;
  opacity: 90%;
}

g > circle {
  opacity: 0.8;
}

g > circle.before {
  r: 15px;
  fill: rgb(44,162,95);
}

g > circle.behind {
  r: 12px;
  fill: rgb(102,194,164);
}

.buttonContainer {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: inline-block;
}

button.not-allowed {
  cursor: not-allowed;
  background-color: #e9bebe;
}

button.section {
  font-weight: bolder;
}

#gtx-trans { display:none ! important}
